#convert tabs on checkout and merge
[filter "tabspace"]
    clean = expand --initial -t 4 
    smudge = expand --initial -t 4 
#remove trailing whitespaces   
filter.trimWhitespace.clean trim_whitespace
filter.trimWhitespace.smudge trim_whitespace
    required
    
[merge]
    renormalize = true